<ion-header [translucent]="true">
  <ion-toolbar color="primary"> <ion-title> <span> {{ this.translate_service.translate('TITLE_INFO') }} <img src="assets/icon/app_icon.svg"> </span> </ion-title> </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div style="padding: 1em" *ngIf="this.translate_service.currentLanguage === 'en'">
    <p> This app was made by me, Khai.<br> You can contact me at <a href="mailto:khai.developer@gmail.com">khai.developer@gmail.com</a> </p>
    <p> I do not own any rights to the sounds or the images displayed on this app. This is a non-profit project, every audio and image belonges to:<br><b>Capcom Co.</b> </p>
    <p> You can see the reported bugs and missing features on this google sheet <a href="https://drive.google.com/file/d/1qwcuphawjKEReHe7KB7xTj9d4ED_Fo_f/view?usp=sharing">here</a><br> </p>
    <p> You can see all the missing roars/images/monsters by clicking <a href="https://drive.google.com/file/d/1Vk2QQTbgi0Y35mg8WvkONxDRSBlq_hpt/view?usp=sharing">here</a> </p>
    <p> Sorry if this app uses a lot of space on your device (150+ MB), but it's not really optimized <b>yet!</b> </p>
  </div>

  <div style="padding: 1em" *ngIf="this.translate_service.currentLanguage === 'it'">
    <p> Questa app è stata creata da me, Khai.<br> Puoi contattarmi all'email <a href="mailto:khai.developer@gmail.com">khai.developer@gmail.com</a> </p>
  </div>

</ion-content>
