<ion-header [translucent]="true">
  <ion-toolbar color="primary" style="max-height: 56px;">
    <ion-title style="font-weight: bold;">
      <span style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
        <span>Soundboard</span>
        <img style="height: 60px;" src="assets/icon/app_icon.svg">
      </span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title size="large">Soundboard</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <ion-searchbar [(ngModel)]="this.search" animated *ngIf="this.settings_service.canSearch"></ion-searchbar>
    <ion-card class="item" [class.item_expanded]="monster.expanded" *ngFor="let monster of monsters"
    [class.item_hidden]="(!monster.name.toLowerCase().includes(this.search.toLowerCase()) && this.search !== '') && this.settings_service.canSearch">
      <div style="display: flex; justify-content: space-between; align-items: center; margin-top: -8px;">
        <ion-text color="primary" class="name" style="display: flex; align-items: center;">
          <ion-icon class="ion-activatable ripple-parent" (click)="monster.expanded = !monster.expanded" style="margin-right: 8px; height: 2em; width: 2em;"
          name="{{ monster.expanded ? 'close-circle' : 'help-circle'}}" *ngIf="this.settings_service.hasImage"></ion-icon>
          {{ monster.name }}
        </ion-text>
        <ion-button color="{{ monster.audio.paused ? 'primary' : 'danger' }}" (click)="playAudio(monster)">
          <ion-icon name="{{ monster.audio.paused ? 'play' : 'stop' }}"></ion-icon>
        </ion-button>
      </div>
      <div class="desc" [ngStyle]="{ 'background-image' : 'url(' + monster.imgSRC + ')' }" *ngIf="monster.expanded && this.settings_service.hasImage"></div>      
    </ion-card>
  </div>

</ion-content>
