<!-- Top Header -->
<ion-header [translucent]="false">
  <ion-toolbar color="primary">
    <ion-title> <span> {{ this.translate_service.translate('TITLE_SOUNDBOARD') }} <img class="cat_icon" src="assets/icon/app_icon.svg"> </span> </ion-title>
  </ion-toolbar>
</ion-header>

<!-- Content -->
<ion-content [fullscreen]="true">

  <!-- Content of the page -->
  <div class="container">

    <!-- Searchbar for the monsters -->
    <ion-searchbar [placeholder]="this.translate_service.translate('SEARCH_PLACEHOLDER')"
    [(ngModel)]="this.search" animated *ngIf="this.settings_service.settings.canSearch"></ion-searchbar>

    <!-- List of monsters -->
    <ion-card class="item" [class.item_expanded]="monster.expanded && this.settings_service.settings.hasImage" *ngFor="let monster of this.storage_service.monsters"
    [class.item_hidden]="(!monster.name.toLowerCase().includes(this.search.toLowerCase()) && this.search !== '') && this.settings_service.settings.canSearch">

    <!-- Top Header -->
      <div class="header">
        <!-- Left side -->
        <ion-text color="primary" class="name">
          <!-- Image button -->
          <ion-fab-button color="medium" (click)="expand(monster)" *ngIf="this.settings_service.settings.hasImage">
            <ion-icon name="{{ monster.expanded ? 'close-circle' : 'image-sharp'}}"></ion-icon>
          </ion-fab-button>
          <!-- Name -->
          {{ monster.name }}
        </ion-text>

        <!-- Play Button -->
        <ion-fab-button color="{{ monster.audio.paused ? 'primary' : 'danger' }}" (click)="playAudio(monster)">
          <ion-icon name="{{ monster.audio.paused ? 'play' : 'stop' }}" [ngStyle]="{'display' : (!monster.loading) ? 'block' : 'none'}"></ion-icon>
          <img src="assets/loader.svg" [ngStyle]="{'display' : (monster.loading) ? 'block' : 'none'}" style="filter: invert(1)">
        </ion-fab-button>
      </div>

      <!-- Bottom description (image) -->
      <div class="desc_image" (click)="showImage(monster)" *ngIf="monster.expanded && this.settings_service.settings.hasImage"
      [ngStyle]="{ 'background-image' : 'url(' + monster.imgSRC + ')' }"></div>   

    </ion-card>

  </div>

</ion-content>
