<ion-tabs>

  <ion-tab-bar color="primary" slot="bottom">
    <ion-tab-button tab="info">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>Info</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="soundboard">
      <ion-icon name="musical-notes"></ion-icon>
      <ion-label>Soundboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
