:root {
  --ion-color-primary: #8B2635;
  --ion-color-primary-rgb: 139,38,53;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #7a212f;
  --ion-color-primary-tint: #973c49;

  --ion-color-secondary: #B33144;
  --ion-color-secondary-rgb: 179,49,68;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #9e2b3c;
  --ion-color-secondary-tint: #bb4657;

  --ion-color-tertiary: #CD4A5D;
  --ion-color-tertiary-rgb: 205,74,93;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #b44152;
  --ion-color-tertiary-tint: #d25c6d;

  --ion-color-success: #00bd4b;
  --ion-color-success-rgb: 0,189,75;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #00a642;
  --ion-color-success-tint: #1ac45d;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255,196,9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235,68,90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  --ion-color-dark: #343434;
  --ion-color-dark-rgb: 52,52,52;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #2e2e2e;
  --ion-color-dark-tint: #484848;

  --ion-color-medium: #d1d1d1;
  --ion-color-medium-rgb: 209,209,209;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #b8b8b8;
  --ion-color-medium-tint: #d6d6d6;

  --ion-color-light: #ebebeb;
  --ion-color-light-rgb: 235,235,235;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #cfcfcf;
  --ion-color-light-tint: #ededed;
}